<!-- //Individual recipe page -->
<!doctype html>
<html>
  <head>
    <title>Recipe Search Results</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <style>
    h2 {
      text-align: center;
      padding-top: 20px;
      font-family: arial;
    }
    h3 {
      text-align: center;
    }
    #ingredients {
      text-align: center;
      font-family: arial;
    }
    .row {
      text-align: center;
      font-style: italic;
      font-family: arial;
      padding-left: 300px;
    }
    img {
      position: center;
      width: 10em;
    }
    a:hover
      {
        text-align: center;
      }
    form {
      text-align: center;
      color: green;
    }
    </style>
  </head>
  <body>
    <h2>Recipe info page!</h2>

    <form method="post" action="/myfavorites">
      <input type="hidden" name="recipe" value="">
      <input type="hidden" name="link" value="">
      <p><a href="myfav" class="btn btn-success btn-sm pinkbutton">Add to My Fav</a></p>

    <h3><%= stuff.name %></h3>
    <img src="<%= stuff.images[0].hostedMediumUrl %>">
    
    <h3><strong>Ingredients</strong></h3>
    <div id="ingredients">
    <% stuff.ingredientLines.forEach(function(line){ %> 
       <div id="ingredient">
        <%= line %>
      </div>
    <% }) %>
    </div>

  <a href="<%= stuff.source.sourceRecipeUrl %>">See Original Link For Details...</a>
    <h3>Nutrition Info</h3>
   
      <% stuff.nutritionEstimates.forEach(function(recipe) { %>
       <div class="row">
      <p>
        <div class="col-xs-3"><%= recipe.attribute %></div>
        <div class="col-xs-3"><%= recipe.description %></div>
      </p>
    </div>
  <% }) %>
  
 
      

</body>
</html>